db.sqlite3
newkaraites/newkaraites/__pycache__/*
.idea/
.pyc
__pycache__
data/
data/*
data_experimental

data_karaites

data_karaites/*

exported

database_upgrade
db

var-17

.DS_Store

static-django

.pytest_cache
.vscode
karaites/management/book_dumps/

frontend/node_modules
.env
.DS_Store
/letsencrypt/
/backend-static/!/karaites/media/
django-error.log
django-error.log.1
django-error.log.2
django-error.log.3
django-error.log.4
django-error.log.5

*backup.sql
database-backup

