db.sqlite3
newkaraites/newkaraites/__pycache__/*
.idea/
.pyc
__pycache__
data/
.pytest_cache
.DS_Store
.vscode
newkaraites/karaites/management/book_dumps/
newkaraites/karaites/management/tmp/
newkaraites/static-django/
newkaraites/frontend/cypress
node_modules/
/newkaraites/node_modules/
/newkaraites/media/*
/newkaraites/media/processed_intro/
/newkaraites/media/processed_source/
/newkaraites/media/songs/
/newkaraites/media/toc/
/newkaraites/media/audio-books/
/newkaraites/config/nginx/local_static_files-1.conf
/newkaraites/config/nginx/local_static_files.conf