# python=3.8
Django==3.2
psycopg2-binary
django-cors-headers
pytest-django
pytest
django-extensions
beautifulsoup4~=4.9.3
lxml
django-tinymce
requests~=2.26.0
python-hebrew-numbers
html5lib
gensim~=4.1.2
more_itertools
spacy~=3.1.4
elasticsearch~=7.0.0