Django==5.1.3
psycopg2-binary
django-cors-headers
pytest-django
pytest
django-extensions
beautifulsoup4
lxml
requests
python-hebrew-numbers
html5lib
gensim
more_itertools
spacy
regex
gunicorn
hebrew
hebrew_tokenizer
fasttext-langdetect
jellyfish
txtai
wget
django-tinymce
openpyxl
python-bidi
transformers
