# python=3.8
Django==3.2
psycopg2-binary
django-cors-headers
pytest-django
pytest
django-extensions
beautifulsoup4~=4.9.3
lxml
requests~=2.26.0
python-hebrew-numbers
html5lib
gensim~=4.1.2
more_itertools
spacy
elasticsearch~=7.0.0
regex
langdetect
gunicorn==20.0.4