@font-face {
    font-family: "SBL Hebrew";
    src: url("../src/fonts/SBL_BLit.ttf");
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    /*font-size: 21px;*/
    /*line-height: 1em;*/
    font-family: "SBL Hebrew", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0;
    width: 100%;
    height: 100%;
}

.hebrew-font {
    font-family: "SBL Hebrew" !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    color: rgb(161, 161, 161);
    text-decoration: none;
}

a:hover {
    color: rgb(82, 82, 82);
    text-decoration: underline;
}

/* https://rimdev.io/css-only-tooltip-for-all-screen-sizes/ */
/*[data-tip] {*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*}*/

/*[data-tip]::after {*/
/*    background-color: black;*/
/*    border-radius: 0.3rem;*/
/*    color: #fff;*/
/*    content: attr(data-tip);*/
/*    font-size: 1rem;*/
/*    font-weight: inherit;*/
/*    line-height: 1.15rem;*/
/*    visibility: hidden;*/
/*    padding: 0.25rem 0.5rem;*/
/*    position: absolute;*/
/*}*/

/*[data-tip].tooltip-top::before {*/
/*    visibility: hidden;*/
/*    top: 0;*/
/*    left: 50%;*/
/*    margin-left: -0.3rem;*/
/*}*/

/*[data-tip].tooltip-top::after {*/
/*    bottom: 100%;*/
/*    left: 50%;*/
/*    transform: translate(-50%);*/
/*    z-index: 1000;*/
/*}*/

/*[data-tip].tip-bottom::after {*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    transform: translate(-50%);*/
/*    z-index: 1000;*/
/*}*/

/*[data-tip].en-foot-note::after {*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    text-align: left;*/
/*    min-width: 150px;*/
/*    width: auto;*/
/*    direction: ltr;*/
/*    transform: translate(-50%);*/
/*}*/

/*[data-tip].he-foot-note::after {*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    text-align: right;*/
/*    min-width: 150px;*/
/*    direction: rtl;*/
/*    width: auto;*/
/*    transform: translate(-50%);*/
/*    z-index: 1000;*/
/*}*/

/*[data-tip]:hover::after,*/
/*[data-tip][class*="tooltip-"]:hover::before {*/
/*    visibility: visible;*/
/*    background-color: black;*/
/*    opacity: 1;*/
/*}*/


/* https://github.com/freqdec/Pure-CSS-Tooltips */

/* Styles for elements having a data-tip attribute - using the star
   selector sucks so you may wish to change this to predefined list of HTML
   tags instead */
*[data-tip] {
    /* position:relative the tooltip launcher to enable us to position:absolute
       the generated content */
    position: relative;
    /* Change cursor - you may want to remove this if you don't like the
       effect */
    cursor: help;
}

/* Default ::before & ::after values */
*[data-tip]::before,
*[data-tip]::after {
    pointer-events: none;
    outline: none;
    display: block;
    z-index: 999;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0;
    padding: 0;
    /* Set-up the animation */
    opacity: 0;
    -webkit-transition: all 0.4s ease-out 0.2s;
    -moz-transition: all 0.4s ease-out 0.2s;
    -o-transition: all 0.4s ease-out 0.2s;
    transition: all 0.4s ease-out 0.2s;
    -webkit-transform: translate(-50%, -1rem);
    -moz-transform: translate(-50%, -1rem);
    -ms-transform: translate(-50%, -1rem);
    -o-transform: translate(-50%, -1rem);
    transform: translate(-50%, -1rem);
}

/* Tooltip arrow */
*[data-tip]::before {
    content: "";
    /* Borders are used to create the arrow so no height or width required */
    width: 0;
    height: 0;
    line-height: 0;
    /* This sets the tooptip arrow color */
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: transparent;
    overflow: hidden;
}

/* Tooltip bubble */
*[data-tip]::after {
    /* Use the data-tip attribute to set the content */
    content: attr(data-tip);
    /* Set a default width */
    width: 248px;
    /* Use a margin to create the space required for displaying the tooltip
       arrow */
    margin-bottom: 5px;
    /* Defensive font reset as we inherit */
    letter-spacing: normal;
    text-align: center;
    /* (older) Moz doesn't seem to recognise the following */
    text-decoration: none;
    word-spacing: normal;
    word-wrap: normal;
    word-break: normal;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-family: "Open Sans", "Segoe", "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Verdana, sans-serif;
    /* webkit has problems using rem units on generated content so i'm falling
      back to old school pixels */
    font-size: 13px;
    padding: 16px;
    min-height: 18px;
    color: #fcfcfc;
    /* Default 'dark' theme */
    background-color: #222;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
    background-image: -moz-linear-gradient(top, #222, #000);
    background-image: linear-gradient(top, #222, #000);
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
}

/* :hover & :focus states */
*[data-tip]:hover::before,
*[data-tip]:focus::before,
*[data-tip]:hover::after,
*[data-tip]:focus::after {
    /* http://www.useragentman.com/blog/2014/05/04/fixing-typography-inside-of-2-d-css-transforms/ */
    -webkit-transform: perspective(1px) translate(-50%, 0);
    -moz-transform: perspective(1px) translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: perspective(1px) translate(-50%, 0);
    /* Reset pointer events or things go all strange... */
    pointer-events: auto;
    /* Set the final opacity */
    opacity: 0.96;
}

/* Monospace font */
*[data-tip][data-tip-theme~="mono"]::after,
[data-tip-theme~="mono"] *[data-tip]::after {
    font-family: monospace;
}

/* Left align text */
*[data-tip][data-tip-theme~="lft"]::after,
[data-tip-theme~="lft"] *[data-tip]::after {
    text-align: left;
}

/* Right align text */
*[data-tip][data-tip-theme~="rht"]::after,
[data-tip-theme~="rht"] *[data-tip]::after {
    text-align: right;
}

/* Right to left writing direction */
*[data-tip][data-tip-theme~="rtl"]::after,
[data-tip-theme~="rtl"] *[data-tip]::after {
    direction: rtl;
    font-family: "SBL Hebrew";
}

/* Blue theme */
*[data-tip][data-tip-theme~="blue"]::after,
[data-tip-theme~="blue"] *[data-tip]::after {
    background-color: #3498db;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#3198dd));
    background-image: -moz-linear-gradient(top, #3498db, #3198dd);
    background-image: linear-gradient(top, #3498db, #3198dd);
}

*[data-tip][data-tip-theme~="blue"]::before,
[data-tip-theme~="blue"] *[data-tip]::before {
    border-top-color: #3198dd;
}

/* Red theme */
*[data-tip][data-tip-theme~="red"]::after,
[data-tip-theme~="red"] *[data-tip]::after {
    background-color: #c0392b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c0392b), to(#e74c3c));
    background-image: -moz-linear-gradient(top, #c0392b, #e74c3c);
    background-image: linear-gradient(top, #c0392b, #e74c3c);
}

*[data-tip][data-tip-theme~="red"]::before,
[data-tip-theme~="red"] *[data-tip]::before {
    border-top-color: #e74c3c;
}

/* Green theme */
*[data-tip][data-tip-theme~="green"]::after,
[data-tip-theme~="green"] *[data-tip]::after {
    background-color: #3FC380;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3FC380), to(#2ECC71));
    background-image: -moz-linear-gradient(top, #3FC380, #2ECC71);
    background-image: linear-gradient(top, #3FC380, #2ECC71);
}

*[data-tip][data-tip-theme~="green"]::before,
[data-tip-theme~="green"] *[data-tip]::before {
    border-top-color: #2ECC71;
}

/* Orange theme */
*[data-tip][data-tip-theme~="orange"]::after,
[data-tip-theme~="orange"] *[data-tip]::after {
    background-color: #F9690E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9690E), to(#D35400));
    background-image: -moz-linear-gradient(top, #F9690E, #D35400);
    background-image: linear-gradient(top, #F9690E, #D35400);
}

*[data-tip][data-tip-theme~="orange"]::before,
[data-tip-theme~="orange"] *[data-tip]::before {
    border-top-color: #D35400;
}

/* Make tooltip "links" have a different pointer (as the tooltip uses the
 "help" cursor) */
a[data-tip] {
    cursor: pointer;
}