
.scroll_table {
    width:auto;
    border-collapse: collapse;
}

.scroll_table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100vh;
}

.scroll_table thead tr {
    display: block;
}

.div_scroll {
    overflow: auto;
    width: auto;
    height: 100vh;
    padding-right:30px !important;

}

.MsoNormal {
    background-color: beige;
    margin-left: 0.5em;
    text-align: justify;
}