
.scroll_table {
    width: auto;
    border-collapse: collapse;
}

.scroll_table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 88vh;
}

.scroll_table thead tr {
    display: block;
}

.div_scroll {
    overflow: auto;
    width: auto;
    height: 88vh;
    padding-right: 30px !important;
}

