
.MsoTableGrid {
    margin-top: 50px;
    width: 50%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    direction: rtl;
}

.MsoTableGrid tr {
    margin-top: 25px;
    margin-bottom: 25px;

    /*border: 1px solid red;*/
}

/* English*/

.MsoTableGrid tr:nth-child(even) {
    column-span: all !important;
    display: block;
    margin-left: -10%;
    text-align: left;
    direction: ltr;
    font-style: italic;
    /*border: 1px solid green;*/
}

.MsoTableGrid tr:nth-child(odd) {
    /*background-color: #83a1d3;*/
}

.MsoTableGrid tr:nth-child(even) {
    /*background-color: #feeec8;*/
}

.MsoTableGrid tr:nth-child(even) p {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    /*border: 1px solid blue;*/
}

.MsoTableGrid td:nth-child(even) {
    /*border: #fb151e 1px solid;*/
}


.MsoTableGrid tr:nth-child(odd) td:first-child {
    text-align: right;
    direction: rtl;
    /*border: 1px solid #fb151e;*/

}

.MsoTableGrid tr:nth-child(odd) td:nth-child(2) {
    text-align: left;
}


.MsoTableGrid tr:nth-child(odd) td:first-child .segmenttext {
    padding-right: 10px;
    vertical-align: top;
    width: auto !important;
    height: auto !important;

}

.MsoTableGrid tr:nth-child(odd) {
    margin-top: 0;
    vertical-align: top;
}

.MsoTableGrid tr:nth-child(odd) .segmenttext {
    margin-top: 0;
    vertical-align: top;
}

.MsoTableGrid tr:nth-child(odd) td:nth-child(2) .segmenttext {
    margin-top: 0;
    vertical-align: top;
}

@media (min-width: 100px) and  (max-width: 361px) {
    .MsoTableGrid {
        width: 90%;
    }
}

@media (min-width: 362px) and  (max-width: 640px) {
    .MsoTableGrid {
        width: 90%;
    }


}

@media (min-width: 661px) and  (max-width: 900px) {
    .MsoTableGrid {
        width: 60%;
    }
}

/* simple-3-4 */
.simple-3-4 {
    min-width: 900px;
}

.simple-3-4 tr:nth-child(odd) td:nth-child(2) p {
    margin: 0 5px 0 0;
    text-align: right;
    vertical-align: top;
}

.simple-3-4 tr:nth-child(odd) td:nth-child(1) p {
    margin: 0 0 0 5px;
    text-align: left;
    vertical-align: top;
}

.simple-3-4 tr:nth-child(even) {
    text-align: left;
    margin: 10px 20px 10px -80%;
    direction: ltr;
}

.simple-3-4 tr:nth-child(4n+3) {
    color: red;
}

.simple-3-4 tr:nth-child(4n+4) {
    color: red;
}

.simple {
    min-width: 700px;
    direction: ltr;
}

.simple tr:nth-child(even) {
    text-align: left;
    margin-left: 30%;
    margin-right: -150%;
    direction: ltr;
}

.simple tr:nth-child(odd) td:nth-child(1) p {
    margin: 0 5px 0 0;
    text-align: right;
    vertical-align: top;
}

.simple tr:nth-child(odd) td:nth-child(2) p {
    margin: 0 0 0 5px;
    text-align: left;
    vertical-align: top;
}

/* Amen Yehi Ratson */
.amen-table-000 {
    min-width: 850px;
}

/* Anochi */

.anochi-table-000 {
    max-width: 800px;
    direction: ltr;
}

.anochi-table-000 tr:nth-child(odd) td:nth-child(2) {
    margin: 0;
    padding-left: 10px;
}


.anochi-table-000 tr:nth-child(odd) td:first-child {
    padding-right: 10px;
}

.anochi-table-000 tr:nth-child(even) {
    margin-left: 20%;
    margin-right: -100%;
}

.anochi-span-002, .anochi-span-007, .anochi-span-008 {
    color: red;
}

.anochi-tr-016 {
    direction: ltr;
}

.anochi-p-005 {
    text-align: right;
    direction: ltr;
}

/* Ashir Le’el ‘Elyon */
.ashir-table-000 {
    max-width: 900px;
}

.ashir-table-000 tr:nth-child(even) {
    margin-left: -80%;
}

.ashir-table-000 tr:nth-child(2n+1) td:nth-child(2) p {
    vertical-align: top;
    /*border: 1px #3198dd solid;*/
    text-align: right;
    direction: rtl;
    margin: 0 5px 0 0;

}

.ashir-table-000 tr:nth-child(2n+1) td:nth-child(1) p {
    vertical-align: top;
    text-align: left;
    direction: ltr;
    margin: 0 0 0 5px;

}

.ashir-table-000 tr:nth-child(even) td p {
    text-align: left;
    direction: ltr;

}

.ashir-table-000 tr:nth-child(odd) td:nth-child(1) {
    /*border: 1px yellow solid;*/
    margin-top: 0;
    text-align: left;
}

.ashir-table-000 tr:nth-child(4n) {
    color: red;
}

.ashir-table-000 tr:nth-child(4n-1) {
    color: red;
}


/*En Kelohenu*/
.en-table-000 {
    min-width: 60%;
    direction: ltr;
}

.en-table-000 tr td {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.en-table-000 tr:nth-child(1n+11) td {
    margin-left: 20%;
    margin-right: -110%;
}

.en-table-000 tr:nth-child(even) {
    margin-left: 40%;
    margin-right: -100%;
}

.en-table-000 tr:nth-child(even) p {
    margin: 0;
}

.en-table-000 tr:nth-child(odd) p {
    margin: 0;
}


/* Essa Bechos Yesha‘ */
.essa-table-000 {
    max-width: 70%;
    min-width: 70%;
    direction: rtl;
}

.essa-table-000 tr:nth-child(even) {
    margin-left: -80%;
    margin-right: 20%;
    text-align: left;
    direction: ltr;
}

.essa-table-000 tr:nth-child(odd) td:nth-child(2) p {
    direction: rtl;
    margin: 0 5px 0 0;
    text-align: right;
}

.essa-table-000 tr:nth-child(odd) td:nth-child(1) p {
    direction: ltr;
    text-align: left;
    margin: 0 0 0 5px;
}

/* Et Kos Yeshu‘ot‘ */
.et-table-000 {
    min-width: 70%;
}

/*Evyon Asher */
.evyon-table-000 {
    max-width: 700px;
    direction: ltr;
}

.evyon-table-000 tr:nth-child(even) {
    margin-left: 0%;
    margin-right: -110%;
    /*border: 1px solid black;*/
}


/* Laḥatani Mivḥar Banai*/
.laatani-table-000 {
    width: 70%;
    direction: rtl;
}

.laatani-table-000 tr:nth-child(odd) td:nth-child(2) p {
    margin: 0;
    text-align: right;
    padding-right: 5px;
}

.laatani-table-000 tr:nth-child(odd) td:nth-child(1) p {
    margin: 0;
    text-align: left;
    padding-left: 5px;
}

.laatani-table-000 tr:nth-child(even) {
    margin-left: -90%;
    margin-right: 10%;
    direction: ltr;
    text-align: left;
}

.laatani-table-000 tr:nth-child(4n+3) {
    color: red;
}

.laatani-table-000 tr:nth-child(4n+4) {
    color: red;
}

/* Lutski Prayer for a Time of Plague */
.lutski-table-000 {
    min-width: 70%;
    direction: ltr;
}

.lutski-table-000 tr:nth-child(even) {
    margin-left: 20%;
    margin-right: -100%;
    direction: ltr;
    text-align: left;
    /*border: 1px #e74c3c solid;*/

}

.lutski-table-000 tr:nth-child(odd) td:nth-child(2) p {
    direction: ltr;
    text-align: left;
    margin: 0 0 0 5px;
    /*border: 1px #0038ba solid;*/

}

.lutski-table-000 tr:nth-child(odd) td:nth-child(1) p {
    direction: rtl;
    text-align: right;
    margin: 0 5px 0 0;
    /*border: 1px #0038ba solid;*/
}

.lutski-table-001 tr:nth-child(even) {
    margin-left: -80%;
    /*background-color: #ffc000;*/
}

.lutski-table-001 {
    direction: rtl;
}

.lutski-table-001 tr:nth-child(odd) td:nth-child(1) p {
    direction: ltr;
    text-align: left;
    margin: 0 0 0 5px;
    /*border: 1px #0038ba solid;*/
}

.lutski-table-001 tr:nth-child(odd) td:nth-child(2) p {
    direction: rtl;
    text-align: right;
    margin: 0 5px 0 0;
    /*border: 1px #0038ba solid;*/
}

/*Malé ‘Olam Kevod Yofi */
.mal-table-000 {
    min-width: 70%;
}

/* Odé Le’el Maḥsi */
.od-table-000 {
    width: 85%;
    max-width: 800px;
    direction: rtl;
}

.od-table-000 tr:nth-child(even) {
    margin-left: -90%;
    direction: ltr;
    text-align: left;
}

.od-table-000 tr:nth-child(odd) td:nth-child(1) p {
    margin: 0 0 0 5px;
    direction: ltr;
    text-align: left;
    /*background-color: blueviolet;*/
}

.od-table-000 tr:nth-child(odd) td:nth-child(2) p {
    direction: rtl;
    text-align: right;
    margin: 0 5px 0 0;
    /*background-color: #ffc000;*/
}

.od-table-000 tr:nth-child(4n+3) {
    color: red;
}

.od-table-000 tr:nth-child(4n+4) {
    color: red;
}

/* Mitsvat Yesod Shabbat */
.mitsvat-table-000 tr:nth-child(odd) td:nth-child(odd) p {
    direction: ltr;
}

/* Shabbat Menuḥa */
.shabbat-table-000 {
    width: 80%;
    direction: rtl;

}

.shabbat-table-000 tr:nth-child(even) {
    margin-left: -70%;
    direction: ltr;
    text-align: left;

}

.shabbat-table-000 tr:nth-child(even) p {
    margin: 0;
}


.shabbat-table-000 tr:nth-child(odd) td:nth-child(1) p {
    direction: ltr;
    text-align: left;
    margin: 0 0 0 5px;
}

.shabbat-table-000 tr:nth-child(odd) td:nth-child(2) p {
    direction: rtl;
    text-align: right;
    margin: 0 5px 0 0;
}

.shabbat-table-000 tr:nth-last-child(2) {
    vertical-align: top;
}

.shabbat-table-000 tr:nth-child(4n+3) {
    color: red;
}

.shabbat-table-000 tr:nth-child(4n+4) {
    color: red;
}

/* Vehaḥochma Me’ayin Timmatsē */
.vehahochma-table-000 {
    min-width: 70%;
    direction: ltr;
}

.vehahochma-table-000 tr:nth-child(even) {
    margin-left: 50%;
    margin-right: -80%;
}

.vehahochma-table-000 tr:nth-child(odd) td:nth-child(1) p {
    text-align: right;
    direction: ltr;
}

/* Vehoshiya */
.vehoshia-table-000 {
    width: 65%;
    direction: ltr;
}

.vehoshia-table-000 tr:nth-child(even) p {
    margin-left: 0%;
    margin-right: -80%;
}

.vehoshia-span-004, .vehoshia-span-006, .vehoshia-span-002 {
    color: red;
}

/* Yah Zimrati */
.yah-table-000 {
    width: 70%;
}

.yah-table-000 tr:nth-child(odd) td:nth-child(2) p {
    margin: 0 5px 0 0;
    text-align: right;
    direction: rtl;
}

.yah-table-000 tr:nth-child(odd) td:nth-child(1) p {
    margin: 0 0 0 5px;
    text-align: left;
    direction: ltr;
}

.yah-table-000 tr:nth-child(even) {
    margin-left: -60%;
}

.yah-table-000 tr:nth-child(4n+3) {
    color: red;
}


.yah-table-000 tr:nth-child(4n+4) {
    color: red;
}

/* Yeter Peletat ‘Am */

/* Sefer Milḥamot Adonai */
.sefer_milh-table-000 {
    width: auto;
}

.sefer_milh-table-000 p {
    margin: 0;
}

.sefer_milh-table-000 tr:nth-child(5n) td:nth-child(1) {
    color: red;
}

/*Aaron ben Joseph's Essay on the Obligation of Prayer*/
.aaron-table-000 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.aaron-table-000 tr td:nth-child(1) {
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
}

.aaron-table-000 tr td:nth-child(2) {
    padding-left: 10px;
    vertical-align: top;
}


/* text bold */
.span-261 {
    font-weight: bold;
}

.
    /* shelomo part 1 */
.tabel-00 {
    text-align: center;
}

.span-121 {
    color: red;
}

/* The Palanquin */

.page-hebrew {
    background-color: lightgray;
    line-height: 1.4em;
    text-align: justify;
    direction: ltr;
}

.page-hebrew p {
    direction: ltr;
}

/**/
.in-hizzu-table-000 {
    min-width: 100%;

    font-size: 21px;
}

.in-hizzu-table-000 td:nth-child(odd) {
    direction: rtl;
    vertical-align: top;

}

.in-hizzu-table-000 td:nth-child(even) {
    vertical-align: top;
}

.in-hizzu-table-000 td:nth-child(odd) p {
    margin-right: 10px;
}

.in-hizzu-table-000 td:nth-child(even) p {
    margin-left: 10px;
}


/*Aaron ben Joseph's Essay on the Obligation of Prayer*/
.en-aaron-table-000 {
    margin-top: 70px;
    min-width: 700px;
}

.en-aaron-table-000 p {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.en-aaron-table-000 td:nth-child(odd) {
    direction: rtl;
    margin-right: 10px;
    /*background-color: #3498db;*/
}

.en-aaron-table-000 td:nth-child(even) {
    direction: ltr;
    margin-left: 10px;
    /*background-color: #ffc000;*/
}

/* Patshegen Ketav Haddat */

/* Karaites books that have english an hebrew side by side */
.table-book {
    max-width: 100%;
    min-width: 100%;
    horiz-align: center;
    border: 1px solid red;
}
.table-book tbody {
    background-color: #ffc000;
    vertical-align: top !important;
    horiz-align: center !important;

}
.table-book tr:hover {
    background-color: #11c4f114;
}
.table-book td:nth-child(even) {
    min-width: 350px;
    max-width: 350px;
}
.table-book td:nth-child(odd) {
    min-width: 350px;
    max-width: 350px;
}

.table-book td:nth-child(even) p {
    /*border: 1px solid #3498db;*/
    vertical-align: top;
    margin-left:5px ;
}

.table-book  td:nth-child(odd) p {
    /*border: 1px solid chartreuse;*/
    vertical-align: top;
    margin-right:5px ;
}

.ft41, .ft42, .ft43, .ft44 {
    direction: rtl;
    background-color: red;
    margin: 0;
}

.page-english {
    direction: ltr;
    background-color: #98ccef;
    text-align: justify;
    line-height: 1.3em;
}

/* hebrew headers*/
.ft40, .ft121 {
    direction: ltr;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    line-height: 2em;
    direction: rtl;
    background-color: #2ECC71;
}

/* English */
.ft12, .ft19, .ft80, .ft82 {
    font-weight: bold;
}

/* headers */
.ft6, .ft18 {
    text-align: center;
    font-style: italic;

}

/* chapters */
.ft126 {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}

/* text */
.ft13, .ft16 {
    margin: 0;
}

.p26, .p29, .p30 {
    text-indent: 25px;
}

/* chapter title */
.ft170 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    margin-right: 35px;
    margin-left: 35px;
}

/* foot notes number indicator */
.ft174 {
    color: blue;
    font-size: 18px;
    vertical-align: super;
}

/* foot notes text */

.ft5, .ft24, .ft25, .ft36, .ft195 {
    font-size: 16px;

}

/* roman numerals */
.ft4 {
    text-align: center;
}

/* liturgy introduction */
.liturgy {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    font-size: 21px;
}

.liturgy p {
    margin-left: 20px;
    margin-right: 20px;
}

/* comments */
.en-deuteronom-p-001 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 7pt;

}

.en-deuteronom-p-002 {
    margin-bottom: 7pt;
}

.en-deuteronom-p-003 {
    margin-bottom: 7pt;
}

.en-deuteronom-p-004 {
    margin-bottom: 0;
    text-align: center;
}

.en-deuteronom-p-005 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 7pt;
}

.en-deuteronom-p-006 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 7pt;
}

.en-deuteronom-p-007 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 7pt;
}


.en-deuteronom-p-014 {
    margin-left: 355pt;
}

.en-deuteronom-p-015 {
    margin-bottom: 7pt;
    text-align: center;

}

.en-deuteronom-p-016 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 7pt;
}


.en-deuteronom-p-019 {
    margin-left: 24pt;
}

.en-deuteronom-p-020 {
    text-indent: 24pt;
}


.en-deuteronom-span-000 {
    color: red;
}

.en-deuteronom-span-001 {
    color: black;
}

.en-deuteronom-span-003 {
    color: green;
}

.en-deuteronom-span-004 {
    color: black;
}

.en-deuteronom-span-005 {
    color: black;
    font-style: italic;
}

.en-deuteronom-span-006 {
    color: blue;
}

.en-deuteronom-span-007 {
    color: yellow;
}

.en-deuteronom-span-008 {
    color: red;
}

.en-deuteronom-span-009 {
    color: black;
}

.en-deuteronom-span-010 {
    color: yellow;
}

.en-deuteronom-span-011 {
    color: blue;
}

.en-deuteronom-span-012 {
    color: red;
}

.en-deuteronom-span-013 {
    color: black;
}

.en-deuteronom-span-014 {
    color: yellow;
}

.en-deuteronom-span-015 {
    color: blue;
}


.en-deuteronom-span-017 {
    color: black;
}

.en-deuteronom-span-019 {
    color: black;
}

.en-deuteronom-span-021 {
    color: red;
}

.en-deuteronom-span-023 {
    color: black;
}

.en-deuteronom-span-025 {
    color: yellow;
}

.en-deuteronom-span-026 {
    color: blue;
}

.en-deuteronom-span-027 {
    color: black;
}

.en-deuteronom-span-029 {
    background: lime;
}

.en-deuteronom-span-030 {
    color: black;
}

.en-deuteronom-span-031 {
    color: red;
}

.en-deuteronom-span-033 {
    color: black;
}

.en-deuteronom-span-034 {
    color: black;
}

.en-deuteronom-span-036 {
    color: black;
    text-transform: uppercase;
}

.en-deuteronom-span-039 .en-deuteronom-span-040 {
    color: black;
    font-style: italic;
}

.en-deuteronom-span-040 {
    color: yellow;
}

.en-deuteronom-span-041 {
    color: blue;
}


.en-deuteronom-span-043 {
    color: blue;
}

.en-deuteronom-span-045 {
    color: black;
}

.en-deuteronom-span-046 {
    color: black;
    font-style: italic;
}

.en-deuteronom-span-047 {
    text-transform: uppercase;
}

.en-deuteronom-span-050 {
    color: blue;
}

.en-deuteronom-span-051 {
    color: black;
}
