
.MsoTableGrid {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}

/* English*/

.MsoTableGrid tr:nth-child(even) {
    column-span: all !important;
    display: block;
    margin-left: 10%;
    margin-right: -10%;
    line-height: 1.3em;
    font-style: italic;
    font-size: 19px;
}


.MsoTableGrid tr:nth-child(odd) td:first-child {
    text-align: right;
    direction: rtl;
}

.MsoTableGrid tr:nth-child(odd) td:nth-child(2) {
    text-align: left;
    /*width: auto !important;*/
    /*height: auto !important;*/
}


.MsoTableGrid tr:nth-child(odd) td:first-child .segmenttext {
    padding-right: 10px;
    vertical-align: top;
    width: auto !important;
    height: auto !important;

}

.MsoTableGrid tr:nth-child(odd) td:nth-child(2) .segmenttext {
    padding-left: 10px;
    vertical-align: top;
    width: auto !important;
    height: auto !important;
}

/* Anochi */
.anochi-table-000 {
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}

.anochi-table-000 tr:nth-child(odd) td:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.anochi-table-000 tr {
    width: 100%;
}


.anochi-table-000 tr:nth-child(odd) td:first-child {
    width: 50%;
    padding-right: 10px;
    line-height: 1.3em;
}


.anochi-table-000 tr:nth-child(odd) td:nth-child(2) {
    width: 50%;
    font-size: 19px;
}

.anochi-table-000 tr:nth-child(even) td:nth-child(1) p {
    width: auto;
    text-align: left;
    margin-left: 20px;
    margin-right: -300px;
}

.anochi-span-002, .anochi-span-007, .anochi-span-008 {
    color: red;
}

.anochi-tr-016 .anochi-span-007 {
    display: none;
}

.anochi-p-005 {
    text-align: right;
    direction: ltr;
}

@media (min-width: 100px) and  (max-width: 361px) {
    .MsoTableGrid {
        width: 90%;
    }
}

@media (min-width: 362px) and  (max-width: 640px) {
    .MsoTableGrid {
        width: 90%;
    }


}

@media (min-width: 661px) and  (max-width: 900px) {
    .MsoTableGrid {
        width: 60%;
    }
}


/* Atsili ḳum ḳera */
.atsili-table-000 tr:nth-child(odd) td {
    margin-left: 100px;
    margin-right: -200px;
    line-height: 0.5em;
}

.atsili-table-000 tr:nth-child(odd) br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 1em !important;
}

.atsili-table-000 tr:nth-child(even) {
    margin-left: 180px;
    margin-right: -200px;
    line-height: 0.5em;
}


/*Evyon Asher */
.evyon-table-000 {
    margin-top: 2em;
    width: 70%;
    line-height: 1em;
}

.evyon-table-000 tr:nth-child(odd) td {

    margin-left: 100px;
    margin-right: -200px;
    /*border: 1px solid black;*/
    line-height: 1em;
}

.evyon-table-000 tr:nth-child(odd) td p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4em;
}

.evyon-table-000 tr:nth-child(even) {
    margin: 1.2em -500px 1.2em 55%;
}

.evyon-table-000 tr:nth-child(even) td p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
}

/* supress &nbsp last line */
.evyon-table-000 tr:nth-child(even) p:last-child {
    display: none;
}

/* Vehaḥochma Me’ayin Timmatsē */


.vehahochma-table-000 tr:nth-child(even) {
    margin-right: -300px;
    margin-left: 150px;
    line-height: 1.5em;
}

.vehahochma-table-000 tr:nth-child(even) p {
    margin-top: 0;
    margin-bottom: 0;
}

.vehahochma-table-000 tr:nth-child(odd) td:nth-child(1) p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    direction: ltr;
}

/*Vehoshiya */
.vehoshia-table-000 {
    margin-top: 2em;
}

.vehoshia-table-000 tr:nth-child(odd) td:nth-child(2) .segmenttext {
    font-size: 14pt;
}

.vehoshia-table-000 tr:nth-child(even) {
    margin-left: 10%;
    margin-right: -100%;
}

.vehoshia-table-000 tr:nth-child(even) p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Sefer Milḥamot Adonai */
.sefer-table {
    width: 70%;
}

.sefer-table tr:nth-child(even) {
    min-width: 500px;
}

.sefer-table tr:nth-child(even) {
    min-width: 500px;
}

.sefer-table tr:nth-child(even) td:nth-child(1) {
    /*border:1px red solid;*/
    min-width: 32px;
}

.sefer-table tr:nth-child(even) td:nth-child(2) {
    /*border:1px black solid;*/
}

.sefer-table tr:nth-child(odd) td:nth-child(1) {
    width: 30px;
}

.sefer-table tr:nth-child(even) td:nth-child(2) p {
    /*border:1px black solid;*/
    text-align: right;
    direction: rtl;
    margin-right: 5px;
}

.sefer-table tr:nth-child(odd) td:nth-child(1) {
    /*border:1px  green solid;*/
}

.sefer-table tr td p {
    margin: 0;
    font-size: 21px;
    line-height: 1.5em;
}

.sefer-table tr:nth-child(odd) td:nth-child(2) {
    /*border:1px  aqua solid;*/
}

.sefer-table tr:nth-child(odd) td:nth-child(2) p {
    /*border:1px  #0070c0 solid;*/
    text-align: right;
    direction: rtl;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
}


/* right side numbers */
.sefer-table tr td:nth-child(1) p span {
    font-size: 19px;
    color: red;
}

/* text bold */
.span-261 {
    font-weight: bold;
}

.
    /* shelomo part 1 */
.tabel-00 {
    text-align: center;
}

.span-121 {
    color: red;
}

/* The Palanquin */

.page-hebrew {
    background-color: lightgray;
    line-height: 1.4em;
    text-align: justify;
    direction: ltr;
}

.page-hebrew p {
    direction: ltr;
}

.ft41, .ft42, .ft43, .ft44 {
    direction: rtl;
    background-color: red;
    margin: 0;
}

.page-english {
    direction: ltr;
    background-color: #98ccef;
    text-align: justify;
    line-height: 1.3em;
}

/* hebrew headers*/
.ft40, .ft121{
     direction: ltr;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    line-height: 2em;
    direction: rtl;
    background-color: #2ECC71;
}

/* English */
.ft12, .ft19, .ft80, .ft82 {
    font-weight: bold;
}

/* headers */
.ft6, .ft18 {
    text-align: center;
    font-style: italic;

}

/* chapters */
.ft126 {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}
/* text */
.ft13, .ft16 {
    margin: 0;
}
.p26, .p29, .p30 {
    text-indent:25px;
}
/* chapter title */
.ft170 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    margin-right: 35px;
    margin-left: 35px;
}

/* foot notes number indicator */
.ft174 {
    color: blue;
    font-size: 18px;
    vertical-align: super;
}

/* foot notes text */

.ft5, .ft24, .ft25, .ft36, .ft195 {
    font-size: 16px;

}

/* roman numerals */
.ft4 {
    text-align: center;
}