
.MsoTableGrid {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
    table-layout: auto;
}

/* English*/

.MsoTableGrid tr:nth-child(even) {
    column-span: all !important;
    display: block;
    margin-left: 30%;
    margin-right: -30%;
    line-height: 1.3em;
    font-style: italic;
    font-size: 19px;
}


.MsoTableGrid tr:nth-child(odd) td:first-child {
    text-align: right;
    direction: rtl;
}

.MsoTableGrid tr:nth-child(odd) td:nth-child(2) {
    text-align: left;
    width: auto !important;
    height: auto !important;
}


.MsoTableGrid tr:nth-child(odd) td:first-child .segmenttext {
    padding-right: 10px;
    vertical-align: top;
    width: auto !important;
    height: auto !important;

}

.MsoTableGrid tr:nth-child(odd) td:nth-child(2) .segmenttext {
    padding-left: 10px;
    vertical-align: top;
    width: auto !important;
    height: auto !important;
}

/* Anochi */

.span-196, .span-198, .span-201, .span-202, .span-204 {
    color: red;
}

@media (min-width: 100px) and  (max-width: 361px) {
    .MsoTableGrid {
        width: 100%;
    }
}

@media (min-width: 362px) and  (max-width: 640px) {
    .MsoTableGrid {
        width: 100%;
    }


}

@media (min-width: 661px) and  (max-width: 900px) {
    .MsoTableGrid {
        width: 60%;
    }
}


/* Atsili ḳum ḳera */
.table-04 tr:nth-child(even) p {
    margin: 0;
}


/* Evyon Asher */

.table-05 tr:nth-child(even) p {
    margin: 0;
}

/* shelomo part 1 */
.p-57, .p-61 {
    margin: 0;
    text-align: justify;
    text-indent: 0;
}

.p-59 {
    margin: 0;
    text-align: justify;
}
// is this a good idea?

.makeStyles-paragraph-24 h1, .makeStyles-paragraph-24 h2 {
    text-align: center;
 }

.span-121 {
    color: red;
 }